/* General css */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Tajawal', sans-serif;
}
:root{
    --main-color : #5FAD51;
}
html{
    scroll-behavior: smooth;
}
ul{
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* Header css start */

/* //////////////////////////////////// */
/* Navbar css start */
nav{
    /* background-color: #e6e3e3; */
    height: 65px;
    width: 80%;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 0;
}
nav .navbar-brand img{
   margin-left: 40px;
}
nav .collapse ul li a{
    color: #242A37;
    transition:.5s ease-in-out ;
    -webkit-transition:.5s ease-in-out ;
    -moz-transition:.5s ease-in-out ;
    -ms-transition:.5s ease-in-out ;
    -o-transition:.5s ease-in-out ;
}
nav .collapse ul li:first-child a{
    color: var(--main-color) !important;
}
nav .collapse ul li:hover a{
    color: var(--main-color);

}
nav .nav-left{
    margin-top: 16px;
}
nav .nav-left ul li {
    display: inline-block;
}
nav .nav-left ul li a {
    color: #242A37 !important;
}
nav .nav-left ul li a:hover {
    color: var(--main-color) !important;
}
nav .nav-left ul li button{
    width: auto;
    padding: 0 20px;
    margin: 0 7px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid  #094E81;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition:.5s ease-in-out ;
    -webkit-transition:.5s ease-in-out ;
    -moz-transition:.5s ease-in-out ;
    -ms-transition:.5s ease-in-out ;
    -o-transition:.5s ease-in-out ;
}
nav .nav-left ul li button:hover{
    background-color: var(--main-color) ;
    border-color: black ;
}
/* Navbar css end */
/* //////////////////////////////////////// */
/* Header wrap css start */
header{
    width: 100%;
    background: linear-gradient(#FFFFFF33 , #5FAD511A);
    height: auto;
    top: 0;
}
header .header-wrap{
    position: relative;
}
header .header-wrap .text-right{
    width: 650px;
}
header .header-wrap h4 {
    color: var(--main-color);
    font-size: 20px;
    line-height: 24px;
    margin: 110px 40px 24px 0;
    position: relative;
}
header .header-wrap h4::before{
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #5FAD51;
    right: -40px;
    top: 50%;
}
header .header-wrap h2{
    width: 509px;
    font-size: 48px;
}
header .header-wrap .text-right p{
    color: #242A37;
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
}
header .header-wrap button{
    height: 48px;
    border-radius:24px ;
    -webkit-border-radius:24px ;
    -moz-border-radius:24px ;
    -ms-border-radius:24px ;
    -o-border-radius:24px ;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
header .header-wrap button:first-of-type{
    width: 163px;
     line-height: 24px;
     background-color: #094E81;
     color: #FFFFFF;
     margin-left: 24px;
     margin-top: 30px;
}
header .header-wrap button:first-of-type:hover{
    background-color: transparent;
}
header .header-wrap button:first-of-type:hover a{
     color: #094E81;
   
}
header .header-wrap button:first-of-type a{
color: #fff;

}
header .header-wrap button:first-of-type a i{
    margin-right: 8px;
}
header .header-wrap button:last-of-type{
    background-color: transparent;
    border: transparent;
    padding: 0px 20px 0px 20px;
    text-align: right;
}
header .header-wrap button:last-of-type:hover{
    background-color: var(--main-color);
    color: #fff;
}
header .header-wrap button:last-of-type:hover a{
color: #fff;

}
header .header-wrap button:last-of-type a{
    color: #242A37;
    font-size: 20px;
    margin-left: 18px;
}
header .header-wrap button:last-of-type a i{
    color: #fff;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 12px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
header .header-wrap .img-box{
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-top: 49px;
   position: relative;
}
header .header-wrap .img-box img:first-of-type{
    max-width: 100%;
    text-align: center;
    margin-right: 170px;
}
header .header-wrap .img-box .span-img-green ,
  .span-img-orange , .span-img-blue , .span-img-crown , .span-img-arrow {
    position: absolute;
    animation: move 2s ease-in-out 3s infinite alternate;
    -webkit-animation: move 2s ease-in-out 3s infinite alternate;
}
@keyframes move{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    100%{
        transform: translateY(-55px);
        -webkit-transform: translateY(-55px);
        -moz-transform: translateY(-55px);
        -ms-transform: translateY(-55px);
        -o-transform: translateY(-55px);
    }
    }
header .header-wrap .img-box .span-img-green {
    top: 50%;
    left: 60%;
    animation: move 3s ease-in-out 3s infinite alternate;
    -webkit-animation: move 3s ease-in-out 3s infinite alternate;
}
header .header-wrap .img-box .span-img-orange {
    top: 10%;
    left: 0%;
}
header .header-wrap .img-box .span-img-blue {
    top: 10%;
    left: 55%;
    animation: move 4s ease-in-out 3s infinite alternate;
    -webkit-animation: move 4s ease-in-out 3s infinite alternate;
}
header .header-wrap .img-box .span-img-crown {
    top: 20%;
    left: 80%;
}
header .header-wrap .img-box .span-img-arrow {
    top: 55%;
    left: 90%;
}
header .header-wrap .img-group{
    position: absolute;
    top: 75%;
    left: 0%;
    width: 253px;
    height: 111px;
    padding: 15px;
    border-radius: 8px;
    background: transparent;
    background-color: hsl(0, 38%, 95% , .9) ;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-image: linear-gradient(to right,#FBF9FB, #E3C8D9, #F3E1D1);
    box-shadow: 0 20px 60px #094E8129;
}
header .header-wrap  .img-box .img-group h6{
    margin-bottom: 15px;
    color: #242A37;
}
header .header-wrap .img-box .img-group .span-img-group{
    position: absolute;
    bottom: 10%;
    left: 90%;
}
.icon-down a i{
    color: #fff;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* Header wrap css end */
/* ////////////////////////////// */
/* Header css end */
/* /////////////////////////////////////////////////////////// */
/* our services start */
.our-services{
    margin-top: 100px;
}
.services-content{
    background: linear-gradient(#42FBB1 .6 , #44D2FF .6) ;
  
}
.our-services .title h2{
    font-size: 40px;
    margin: 30px ;
}
.our-services  p{
    font-size: 18px;
    text-align: justify;
    color: #767E87;
    margin: 50px 0px;
}
.our-services .services-div{
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 30px 50px #11316A1F;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 20px;
    height: 320px;
    margin: 20px 0px;
    position: relative;
    z-index: 1 ;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}
.our-services .services-div::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left:0;
    background-color: var(--main-color);
    z-index: -1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.our-services .services-div:hover::after{
  height: 100%;
  width: 100% ;
}
.our-services .services-div .services-div-img{
    width: 60px;
    height: 60px;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #f1e9e9;
    border: 1px solid transparent;
    border-radius: 50%; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.our-services .services-div .services-div-img img{
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.our-services .services-div h4 {
    font-size: 24px;
}
.our-services .services-div p {
    font-size: 16px;
}
.our-services .services-div:hover img{
    filter: opacity(.5);
    -webkit-filter: brightness(.5);
    color: #111;
}
.our-services .services-div:hover .services-div-img{
background-color: transparent;
}
.our-services .services-div:hover h4, 
.our-services .services-div:hover p{
    color: #FBF9FB;
}

/* our services end */